.DS_Store
node_modules
# /dist  https://gist.github.com/belohlavek/61dd16c08cd9c57a168408b9ac4121c2

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?